{% extends "layout.html" %}
{% from 'macros.html' import render_field %}
{% block content %}
<div class="container">
<div class="entry-list">
{% for post in posts %}
                    <article>
                        <h2><a href="{{ url_for('view_details', slug=post.slug) }}">{{ post.title }}</a></h2>
                        <time data-time="{{ post.timestamp }}" class="distime" datetime="{{ post.timestamp.strftime('%Y-%m-%d') }}">{{ post.timestamp.strftime('%Y-%m-%d') }}</time>
                    </article>
 {% endfor %}
                      </div>
            </div>
 {% endblock %}